body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.first-section { background-color: #3498db; }
.second-section { background-color: #e74c3c; }
.third-section { background-color: #2ecc71; }
.fourth-section { background-color: #9b59b6; }
.fifth-section {background-color: orange;}